/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
	padding: 4rem 0;
	text-align: center;
	position: relative;
	overflow: hidden;
}

/* debut css */

.getStarted {
	background-color: #fff;
	cursor: pointer;
	display: inline-block;
	border: none;
	margin: 0;
	text-decoration: none;
	text-align: center;
	transition: background 250ms ease-in-out, transform 150ms ease;
	-webkit-appearance: none;
	-moz-appearance: none;
	font-family: sans-serif;
	padding: 1rem 2rem;
	font-size: 1rem;
	--hue: 337;
	--saturation: 100%;
	--lightness: 50%;
	background: hsl(var(--hue), var(--saturation), var(--lightness));
	color: #ffffff;
	border-radius: 10px;
}

.getStarted:hover,
.getStarted:focus {
	--lightness: 40%;
	color: #fff;
}

.getStarted:focus {
	outline: 1px solid #fff;
	outline-offset: -4px;
}

.getStarted:active {
	transform: scale(0.9);
}

/* fin css */

@media screen and (max-width: 996px) {
	.heroBanner {
		padding: 2rem;
	}
}

.buttons {
	display: flex;
	align-items: center;
	justify-content: center;
}
